#cloud-config
hostname: {{ vm.name }}
users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - {{ shin.ssh_key.pub }}

packages:
  - curl
  - vim
  - net-tools
  - htop

runcmd:
  - apt update -y
  - apt upgrade -y
  - echo "Cluster node initialized" > /etc/motd
